pandas
matplotlib
requests
beautifulsoup4
python-dotenv
kaggle
scikit-learn
xgboost==3.2.0
joblib==1.5.3
lightgbm
imbalanced-learn
statsmodels
fastapi
uvicorn[standard]
pytest
httpx
selenium
ipykernel
